*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Translations
*.mo

.DS_Store

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Flask
instance
tmp/

# etc
_build/

# LetsEncrypt Key files
acme.json

ansible/roles/*
!ansible/roles/.gitkeep

services/geoserver/data/security
services/postgis/pg.env
services/postgis/pgadmin.env

# user defined
.env
ansible/hosts/prod.yml
ansible/setenv.yml
services/ldproxy/data/proj/

# data files

services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.cpg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.dbf
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.gpkg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.prj
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.shp
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.shx
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.cpg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.dbf
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.gpkg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.prj
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.shp
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.shp.CVT05050.12184.2840.sr.lock
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.shx
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.cpg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.dbf
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.gpkg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.prj
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.shp
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.shx
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.cpg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.dbf
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.gpkg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.prj
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.shp
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.shx
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.cpg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.dbf
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.gpkg
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.prj
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.shp
services/pygeoapi/data/swissboundaries3d_2022-05_2056_5728/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.shx
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.cpg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.dbf
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.gpkg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.prj
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.shp
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_LIN.shx
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.cpg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.dbf
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.gpkg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.prj
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.shp
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PKT.shx
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.cpg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.dbf
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.gpkg
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.prj
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.shp
services/pygeoapi/data/swissnames3d_2021_2056/swissNAMES3D_PLY.shx
services/pygeoapi/data/geoclimate/building_urban_typo.geojson
services/pygeoapi/data/geoclimate/rsu_lcz.geojson
services/pygeoapi/data/geoclimate/tot_floor_area_rsu_lcz.geojson
services/pygeoapi/data/mgm/ERE_espace_reserve_eaux.geojson
services/pygeoapi/data/mgm/ffp_foret_protectrice_ge.geojson
services/pygeoapi/data/mgm/kataster-belasteter-standorte-zivilflugplaetze_polygonstructure.geojson
services/pygeoapi/data/mgm/kataster-belasteter-standorte-zivilflugplaetze_standort.geojson
services/pygeoapi/data/records/ere_espace_reserve_eaux_metadata.tinydb
services/pygeoapi/data/records/kataster-belasteter-standorte-zivilflugplaetze_metadata.tinydb
services/qgis/data/dutch_addresses_4326.gpkg
services/qgis/data/vlak.gpkg
services/qgis/data/mgm.gpkg
services/pygeoapi/data/ndwi/NDWI_2000.tif
services/pygeoapi/data/ndwi/NDWI_2001.tif
services/pygeoapi/data/ndwi/NDWI_2002.tif
services/pygeoapi/data/ndwi/NDWI_2003.tif
services/pygeoapi/data/ndwi/NDWI_2004.tif
services/pygeoapi/data/ndwi/NDWI_2005.tif
services/pygeoapi/data/ndwi/NDWI_2006.tif
services/pygeoapi/data/NDVI_2018.tif
services/pygeoapi/data/geneva_ndwi.nc
services/pygeoapi/data/records/metadata-mgm.db
services/pygeoapi/data/records/metadata-ndwi.db
services/geoserver/data/gwc/r-pod-imagery_131031_Yverdon_Heig_10cm/EPSG_4326_00_1edfcaa33d4735d5d6b9c8ae84ec0bfc1933523e/0_0/01_00.jpeg
services/geoserver/data/gwc/r-pod-imagery_131031_Yverdon_Heig_10cm/EPSG_4326_20_1edfcaa33d4735d5d6b9c8ae84ec0bfc1933523e/0530_0389/01087354_00796787.jpeg
services/geoserver/data/gwc/r-pod-imagery_131031_Yverdon_Heig_10cm/EPSG_4326_20_1edfcaa33d4735d5d6b9c8ae84ec0bfc1933523e/0530_0389/01087355_00796787.jpeg
services/geoserver/data/gwc/r-pod-imagery_131031_Yverdon_Heig_10cm/EPSG_4326_09_1edfcaa33d4735d5d6b9c8ae84ec0bfc1933523e/16_12/0530_0389.jpeg
services/geoserver/data/data/r-pod/131031_Yverdon_Heig_10cm.tif
services/qgis/data/geoclimate.gpkg

# logs

services/geoserver/data/logs/geoserver.log.1
services/geoserver/data/logs/geoserver.log.2
services/geoserver/data/logs/geoserver.log.3
services/geoserver/data/logs/DEFAULT_LOGGING.properties.bak
services/geoserver/data/logs/DEFAULT_LOGGING.xml
services/geoserver/data/logs/GEOSERVER_DEVELOPER_LOGGING.properties.bak
services/geoserver/data/logs/GEOSERVER_DEVELOPER_LOGGING.xml
services/geoserver/data/logs/GEOTOOLS_DEVELOPER_LOGGING.properties.bak
services/geoserver/data/logs/GEOTOOLS_DEVELOPER_LOGGING.xml
services/geoserver/data/logs/PRODUCTION_LOGGING.properties.bak
services/geoserver/data/logs/PRODUCTION_LOGGING.xml
services/geoserver/data/logs/QUIET_LOGGING.properties.bak
services/geoserver/data/logs/QUIET_LOGGING.xml
services/geoserver/data/logs/TEST_LOGGING.properties.bak
services/geoserver/data/logs/TEST_LOGGING.xml
services/geoserver/data/logs/VERBOSE_LOGGING.properties.bak
services/geoserver/data/logs/VERBOSE_LOGGING.xml
services/geoserver/data/gwc/geowebcache_2022-07-05T064050.bak
services/geoserver/data/gwc/geowebcache_2022-07-05T064316.bak
services/geoserver/data/gwc/geowebcache_2022-07-05T064439.bak
services/geoserver/data/gwc/geowebcache_2022-07-05T081533.bak
services/geoserver/data/gwc/geowebcache_2022-07-07T142930.bak
services/geoserver/data/gwc-layers/LayerInfoImpl-26e48618_181d2c876f5_-7fe4.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fc5.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fc9.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fcd.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fd8.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fdb.xml
services/geoserver/data/gwc-layers/LayerInfoImpl-67a24c25_181ec0937d2_-7fe1.xml
ansible/vars/vars.yml.old
